<div class="flex" data-controller="clipboard">
  <div class="text-2xl">å¯†ç¢¼ï¼š</div>
  <input data-target="clipboard.source" type="text" value="ch33r5" readonly class="text-2xl">
  <button data-action="clipboard#copy" class="bg-81B29A px-1">è¤‡è£½ðŸ“‘</button>
</div>
<textarea rows="4" cols="45" class="mt-4 w-full" placeholder="é€™è£¡å¯ä»¥è²¼ä¸Š">
</textarea>
