<!-- <div> -->
<!--   <input type="text" class="text&#45;4xl"> -->
<!--   <p class="text&#45;4xl"></p> -->
<!-- </div> -->

<div data-controller="print">
  <input type="text" class="text-4xl" data-target="print.input" data-action="change->print#copy">
  <p class="text-4xl" data-target="print.output">123</p>
</div>
