<div data-controller="toggle">
  <button data-action="toggle#drop"class="border rounded text-3xl">一個下拉選單 ⬇️</button>
  <ol data-target="toggle.list" class="hidden text-3xl">
    <li>🍎水果</li>
    <li>🥬蔬菜</li>
    <li>🍰點心</li>
  </ol>
</div>
